/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* STYLES */

body {
  padding-left: 156px;
}

.input-container {
  width: 355px;
  height: 40px;
  margin-top: 36px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.input-container input {
  width: 272px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #808080;
}

.input-container input:hover {
  color: #2E2F42;
  border-radius: 4px;
  border: 1px solid #000;
}

.input-container input:active {
  border-radius: 4px;
  border: 1px solid #4E75FF;
}

.input-container input:disabled {
  border-radius: 4px;
  border: 1px solid #808080;
}

.input-container input::placeholder:disabled {
  background-color: #FAFAFA;
  color: #808080;
}

.input-container button {
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:disabled {
  background-color: #CFCFCF;
  color: #989898;
}

button:hover {
  color: #FFF;
}

.timer {
  width: 355px;
  color: #2E2F42;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.field .label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

/* SNACKBAR STYLES  */


.form {
  width: 360px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form > label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

input[type='number']  {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  height: 54px;
  border-radius: 4px;
  border: 1px solid #808080;
}

fieldset legend {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

fieldset label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
  display: flex;
  align-items: center;
  gap: 8px;
}

fieldset input {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

.form button {
  margin-top: 8px;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  padding: 8px 16px;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form button:hover {
  background-color: #6C8CFF;
}